*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}
body{ 
    background: url(https://plus.unsplash.com/premium_photo-1720192861639-1524439fc166?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8aW5pY2lvJTIwc2VzaSVDMyVCM258ZW58MHx8MHx8fDA%3D);
    background-repeat: no-repeat;
    background-size: cover;
/* background-color: blue; */
background-position: center;
display: flex;
min-height: 100vh;
align-items: center;
justify-content: center;
}

form{
    width: 45vw;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur (5px);
    padding: 2rem;
    border-radius: 20px;
}

label{
    width: 100%;
    display: block;
    color: aliceblue;
}

label * {
    display: block;
    width: 100%;
}

input, textarea, button, select {
    border-radius: 12px;
    padding: 1rem;
}

button{
    width: 100%;
    background-color: blueviolet;
}

label[for="file"]{
    border-radius: 12px;
    padding: 1rem;
    width: 100%;
    background-color: red;
    color: #ffff;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
#file{
    display: none;
}

select{
    width: 100%;
    text-align: center;
}

@media (max-width: 700px) {
    form {
        width: 90vw;
        label {
            color: black;
        }
    }
}

@media (min-width: 700px) and (max-width: 1200px) {
    form {
        width: 50vw;
    }
}